<h1>Formulário Inicial</h1>
<form action="/check" method="post">
  <input name="name" placeholder="Seu nome...">
  <br /><br />
  <input name="age" type="number" placeholder="Sua idade...">
  <br /><br />
  <button type="submit">Enviar</button>
</form>